
body {
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
}

.navigation li:not(:last-child)::after {
  content: "•";
  margin-left: 5px;
  margin-right: -6px;
  color: #808080;
}

.navigation li a {
  text-decoration: none;
  color: #808080;
  transition: color 0.3s;
}

.navigation li a:hover {
  color: #c0c0c0;
}

.experience {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px; /* Add some padding to create visual separation */
}

.center-text {
  text-align: center;
}