body {
    text-align: center;
    font-family: sans-serif;
}

.top {
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.nfc_logo, .afc_logo {
    width: 100px;
    height: 100px;
    /* position: absolute; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    position: relative;
}

.afc_logo {
    margin-right: 100px;
    /* left: 0; */
}
.nfc_logo {
    margin-left: 100px;
    /* right: 0; */
}

.team {
    width: 100px;
    height: 70px;
    margin: 2px 2px;

    border: 1px solid black;
    border-radius: 5px;

    display: block;
    position: relative;
}

#afc_wc .seed, #afc_div .seed, #afc_conf .seed{
    left: -1px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#nfc_wc .seed, #nfc_div .seed, #nfc_conf .seed{
    right: -1px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.team .seed {
    position: absolute;
    top: -1px;

    background-color: black;

    width: 18px;
    height: 18px;
    line-height: 18px;
    /* padding: 1px; */

    border: 1px solid black;
    color: white;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
    font-family: monospace;

}


#sb_game .team {
    display: inline-block
}

#sb_game .seed {
    display: none;
    visibility: hidden;
}

.team-clickable {
    cursor: pointer;
}

.team_logo {
    width: 90px;
    height: 60px;
    border: 0;
    margin: 5px;
    padding: 0;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
}

.bracket {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: inline-block;
}

.team_layer {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: .2;
    filter: alpha(opacity=20);
    position: absolute;
}

#bracket .selected .team_layer { background-color: green; }
#bracket .selecting .team_layer { background-color: red; }

.round {
    /* border: 1px solid black; */
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}

.game {
    margin: 20px auto;
    white-space: nowrap;
}

.champ {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round .label,
.superbowl_logo,
.champ_label {
    font-size: 20pt;
    font-family: sans-serif;
}

#share_url {
    width: 300px;
}

